@charset "utf-8";
*{margin: 0;padding: 0;border: none;
    list-style-type: none;text-decoration: none;}

/*index index index index index index index index index */
#box{
    width: 100%;
    min-width: 1024px;
    height: auto;
    position: relative;
    background: #f8f8f8;
}
.fl{float: left;}
.fr{float: right;}
.hidden{display: none}
.head{
    height: 100px;
    position: relative;
    background: white;
}
.head-inner{
    width: 1024px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.h-r-left{
    width: 20%;
    height: 95px;
    line-height: 95px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #00b188;
    font-size: 3em;
    font-weight: 800;
}
.h-r-left img{
    width: 100%;
    height: 100%;
    position: relative;
}
.h-right{
    width:260px;
    height: 50px;
    position: relative;
    float: right;
    margin: 45px 15px 0 0;
    overflow: hidden;
}
.h-r-userName{
    width: 100%;
    height: 16px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: grey;
    overflow:hidden;
    text-align: center;
}
.h-r-input{
    width: 100%;
    height: 28px;
    position: relative;
    background: #00b188;
    color:white;
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
}
.h-r-input:hover{
    background: #ef735f;
}
.lin{
    width: 100%;
    min-width: 1024px;
    height: 15px;
    position: relative;
    background: #00b188;
}
/*内容content*/
.content{
    width: 100%;
    min-width: 1024px;
    height: auto;
    position: relative;
    background: white;
}
.nav-inner{
    width: 1024px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}
/*part1*/
.content-part1{
    width: 100%;
    height: 400px;
}
.c-part1-inner{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.c-part1-left{
    width: 210px;
    height: 100%;
    position: relative;
    float: left;
}
.c-part1-list li{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
    border: 1px solid white;
    background: #f8f8f8;
    font-size: 1em;
    font-weight: 800;
    color:#00b188 ;
}
.c-part1-list li:hover{
    background: #00b188;
    color: white;
    cursor: pointer;
}
.c-part1-right{
    width: 260px;
    height: 100%;
    position: relative;
    float: right;
    margin-right: 1.5%;
    overflow: hidden;
}
.c-part1-right-span{
    font-size: 12px;
    color: gray;
}
.c-part1-right img{
    width: 47%;
    height: 28%;
    margin-top: 3%;
}
.c-part1-right img:hover{
    cursor: pointer;
}
.c-part1-main-index{
    width: 470px;
    height: 93%;
    position: relative;
    float: right;
    margin: 25px 35px 0 0;
}
#slider{
    width: 100%;
    height: 100%;
    position: relative;
}
.list{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.list li{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;filter:alpha(opacity=0);}
.list li.current{opacity:1;filter:alpha(opacity=100);}
.list li img{
    width: 100%;
    height: 100%;
}

/*part2*/
.content-part2{
    width: 100%;
    min-width: 1024px;
    position: relative;
    background: #f8f8f8;
    margin-top: 30px;
    float: left;
    padding-bottom: 100px;
}
.c-part2-inner{
    width: 1024px;
    height: 90%;
    margin: 0 auto;
}
.part-title{
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #ef735f;
    margin-top: 2%;
}
.c-part2-new{
    width: 100%;
    height: 83%;
    position: relative;
}
.c-part2-new-ul li{
    width: 23%;
    height: 370px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    background: white;
    border: 1px solid #f8f8f8;
    box-shadow: 0 1px 2px 0 rgba(158,158,158,0.2);
    border-radius: 4px;
}
.c-part2-new-ul-img{
    width: 95%;
    height: 225px;
    margin:5px 0 0 6px;
}
.c-part2-new-ul-img-price{
    width: 85px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    background-color: rgba(220,220, 220, 0.4);
    font-weight: 600;
    font-size: 1em;
    color: #00b188;
    margin-top: -35px;
}
.c-part2-new-ul-img-price:hover{
    color:#ef735f ;
    background-color: rgba(220,220, 220, 0.6);
    cursor: pointer;
}
.c-part2-detail{
    width: 100%;
    height: 110px;
    position: relative;
    margin-top: 10px;
}
.c-part2-detail:hover{
    cursor: pointer;
}
.c-part2-detail-goodsName{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    font-size: 1em;
    font-weight: 600;
    color: #00b188;
}
.c-part2-detail-describe{
    width: 100%;
    height: 70px;
    position: relative;
    margin-top: 5px;
    font-size: 12px;
    color: gray;
    letter-spacing: 2px;
    text-indent: 2em;
}
.c-part2-detail-describe:hover{
    color:#ef735f ;
}
.c-addMore{
    width: 400px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    left: 300px;
    top:30px;
    background-color: rgba(220,220, 220, 0.4);
    color: #00b188;
    font: 0.5em;
    letter-spacing: 2px;
}

/*show.ejs  show.ejs  show.ejs  show.ejs  show.ejs  show.ejs  show.ejs  show.ejs  */
/*nav*/
.nav{
    width: 100%;
    min-width: 1024px;
    height: 40px;
    position: relative;
    background: #00b188;
}
.nav-inner-ul li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-left: 10px;
    color: white;
    font-size: 1em ;
    font-weight: 600;
    letter-spacing: 2px;
}
.nav-inner-ul li:hover{
    background: #01a57f;
    cursor: pointer;
}
/*content*/
.content-inner{
    width: 1024px;
    height: auto;
    position: relative;
    margin: 0 auto;
}
/*part2*/
.c-part2-detail-more{
    color: lightgray;
    font-size: 12px;
    text-align: center;
}
.c-part2-detail-more span:hover{
    color: #00b188;
}

/*goods.ejs  goods.ejs  goods.ejs  goods.ejs  goods.ejs  goods.ejs  goods.ejs  */

/*内容content*/
.goods-content{
    width: 100%;
    min-width: 1024px;
    background: #f8f8f8;
    min-height: 450px;
}
.c-goods{
    width: 1024px;
    height: 350px;
    position: relative;
    background: white;
    margin-top: 20px;
}
.c-goods-img{
    width: 350px;
    height: 350px;
    position: relative;
    display: inline-block;
}
.c-goods-img img{
    width: 350px;
    height: 100%;
}
.c-part1-right{
    width: 260px;
    height: 100%;
    position: relative;
    float: right;
    margin-right: 1.5%;
}
.c-part1-right img{
    width: 47%;
    height: 30%;
    margin-top: 3%;
}
.c-part1-right img:hover{
    cursor: pointer;
}
.c-part1-main{
    width: 360px;
    height: 330px;
    position: relative;
    padding: 10px;
    float: right;
    margin-right: 1%;
}
.c-goods-username{
    font-size: 14px;
    color: #00b188;
}
.c-goods-username-span{
    font-size: 0.3em;
    color: #00b188;
}
.c-goods-price{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-top: 10px;
    text-align: right;
    font-size: 2em;
    font-weight: 800;
    color: #ef735f;
    letter-spacing: 2px;
}
.c-goods-price-span{
    font-size: 0.5em;
    margin-right: 10px;
}
.c-goods-goodsName{
    width: 100%;
    height: 60px;
    line-height: 30px;
    position: relative;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
}
.c-goods-describe{
    width: 100%;
    height: 120px;
    line-height: 20px;
    position: relative;
    border: 1px solid #00b188;
    margin-top: 10px;
    font-size: 0.8em;
    color: grey;
    letter-spacing: 2px;
    text-indent: 2em;
}
.c-goods-contact{
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: relative;
    margin-top: 10px;
    font-size: 0.8em;
    color: #00b188;
    opacity: 0.7;
}
.c-goods-focus{
    width: 90px;
    height: 25px;
    position: relative;
    background: #00b188;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 10px;
}
.c-goods-focus:hover{
    background: #ef735f;
    cursor: pointer;
}

