@charset "utf-8";
body,div,p,h1,h2,h3,h4,h5,h6,ul,li,span{margin: 0;padding: 0;border: none;
    list-style-type: none;text-decoration: none;}
input{outline:none;}
select{outline: none;}
.hidden{display: none}
#box{
    width: 100%;
    height: auto;
    position: relative;
    background: #f8f8f8;
}
.fl{float: left;}
.fr{float: right;}
.head{
    height: 100px;
    position: relative;
    background: white;
}
.head-inner{
    width: 1024px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.h-r-left{
    width: 20%;
    height: 95px;
    line-height: 95px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #00b188;
    font-size: 3em;
    font-weight: 800;
}
.h-r-left img{
    width: 100%;
    height: 100%;
    position: relative;
}
.h-right{
    width:260px;
    height: 50px;
    position: relative;
    float: right;
    margin: 45px 15px 0 0;
    overflow: hidden;
}
.h-r-userName{
    width: 100%;
    height: 16px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: grey;
    overflow:hidden;
    text-align: center;
}
.h-r-input{
    width: 100%;
    height: 28px;
    position: relative;
    background: #00b188;
    color:white;
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
    border: none;
}
.h-r-input:hover{
    background: #ef735f;
}
.lin{
    width: 100%;
    height: 15px;
    position: relative;
    background: #00b188;
}
.content{
    width: 1024px;
    height: auto;
    margin:0 auto;
    position: relative;
}
.c-left{
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
    border-right: 1px solid #f8f8f8;
    border-left: 1px solid #f8f8f8;
    background: #f8f8f8;
}
.c-l-ul li{
    width: 100%;
    height: 35px;
    line-height:35px;
    text-align: center;
    border: 1px solid white;
    color: #00b188;
    font-weight: 600;
}
.c-l-ul li:hover{background: #00b188; color:white;cursor: pointer;}
.c-right{
    width: 850px;
    height: 700px;
    border: 1px solid #e8edf1;
    float: right;
    text-align: center;
    color: #545652;
}
.c-right form{
    text-align: left;
    margin: 15px;
}
.c-r-from-p{
    margin-top: 15px;
}
.c-r-select{
    width: 160px;
    height: 23px;
}
.c-r-txt{
    width: 770px;
    height: 150px;
    position: relative;
    margin: 20px 0 0 10px;
    padding: 15px;
    resize: none;
    font-size: 16px;
    text-indent: 2em;
    letter-spacing: 3px;
}
.c-r-imges img{height: 90px;display: inline-block;}

.btn{
    width: 120px;
    height: 35px;
    position: relative;
    background:#00b188 ;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    margin-top: 20px;
    float: right;
    margin-right: 50px;

}
.btn:hover{
    background: #ef735f;
    cursor: pointer;
}
.textRight{
    text-align: right;
}

/*order_search  order_search  order_search  order_search  order_search  order_search  */
.c-r-h1{margin:10px 0 10px 0;}
td{
    width: 70px;
    height: 30px;
    border-right: 1px solid #e8edf1;
    cursor: pointer;
}
.c-r-table th{
    background: #00b188;
    color: white;
    height: 30px;
    width: 80px;
}
.c-r-td-addLength{width: 150px;}
.edit{font-weight: 600;}
.edit:hover{background:#ef735f;color: white;}
 /*correct  correct  correct  correct  correct  correct  correct  correct  correct  */
.c-r-correct{
    position: relative;
    right: 90px;
}
.c-right form{
    text-align: left;
    margin: 15px;
}
.c-r-from-p{
    margin-top: 15px;
}
.c-r-select{
    width: 160px;
    height: 23px;
}
.c-r-txt{
    width: 770px;
    height: 150px;
    position: relative;
    margin: 20px 0 0 10px;
    padding: 15px;
    resize: none;
    font-size: 16px;
    text-indent: 2em;
    letter-spacing: 3px;
}
.c-r-imges img{height: 90px;display: inline-block;}

.btn{
    width: 120px;
    height: 35px;
    position: relative;
    background:#00b188 ;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    margin-top: 20px;
    float: right;
    margin-right: 50px;

}
.btn:hover{
    background: #ef735f;
    cursor: pointer;
}
.correct_id{
    display: none;
}
.only{background:#e8edf1 }

/*上传图片*/
#hid{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(245,245,245,0.3);
}
.upImg{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 500px;
    background: white;
    border: 2px solid #00b188;
}
