<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>sign up</title>
    <link href="/stylesheets/sign.css" rel="stylesheet">
</head>
<body>
<div class="signBox">
    <img src="/images/bg.jpg">
  <div class="signBox-inner">
      <div class="sign">
          <div class="signTitle">
              <h1>校卖部</h1>
          </div>
          <div class="signText">
              <form id="signForm" action="/zc" method="post">
                  用 户 名：<input type="text" id="username" name="username"><br/>
                  密码设置：<input type="password" id="password" name="password"><br/>
                  重复密码：<input type="password" id="pswSure"><br/>
                  <button type="submit" onclick="sign()" class="signBtn">Sign up</button>
                  <p class="toSignIn" id="toSignIn">>> to Sign in</p>
                  <p id="warning"><%= errMsg%></p>
              </form>
          </div>
      </div>
  </div>
</div>
<script src="/javascripts/sign.js"></script>
</body>
</html>